/*@import url('https://fonts.googleapis.com/css?family=Quicksand');*/

.block {
    /*    background-color: #1F2739;*/
    text-align: center;
    margin-top: 100px;
}

.menu {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}

.menu-block input {
    margin-left: 25px;
    box-sizing: border-box;
}

.menu input[type=button] {
    font-size: 25px;
    background: yellow;
    transition: 0.3s;
    border-radius: 3px;
    cursor: pointer;
    border: 0;
}

.container th {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: yellow;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
}

.menu input[type=button]:hover {
    background: #FB667A;
    color: aliceblue;
    box-shadow: none;
    transform: none;
}

input[type=button] {
    cursor: pointer;
    border: 1px solid #FB667A;
    color: black;
    background: aliceblue;
    font-size: 17px;
    transition: 0.5s;
    border-radius: 3px;
}

input[type=button]:hover {
    background: #FB667A;
    color: aliceblue;
}

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
body {
    font-weight: 300;
    line-height: 1.42em;
    color: aliceblue;
    /*    background-color: #1F2739;*/
    box-sizing: border-box;
}

.neon {
    position: absolute;
    margin: 0 auto;
    margin-top: 15px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 4em;
    font-weight: 100;
    line-height: 1em;
    color: #fff;
    font-family: monospace;
    text-shadow: 0 0 20px black;
    /*    #4DC3FA*/
}

.neon:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: black;
    filter: blur(15px);
}

.neon:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: grey;
    z-index: -2;
    filter: blur(40px);
}

.container td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 25px 0;
    font-family: 'Open Sans', sans-serif;
}

.container td,
.container th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
}


/* Background-color of the odd rows */

.container tr:nth-child(odd) {
    background-color: #323C50;
}


/* Background-color of the even rows */

.container tr:nth-child(even) {
    background-color: #2C3446;
}

.container td {
    color: #FB667A;
}

.container tr:hover {
    background-color: #464A52;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
    background-color: #FFF842;
    color: #403E10;
    font-weight: bold;
    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
    transform: translate3d(6px, -6px, 0);
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

#hower:hover {
    transform: scale(1.8)!important;
    box-shadow: none!important;
}

span {
    font-size: 13px;
}

input[type=button]:disabled:hover {
    cursor: auto;
    color: black;
    background: aliceblue;
}

.login-block {
    width: 320px;
    border-radius: 5px;
    margin: 0 auto;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 14px;
    padding: 0 0 0 50px;
    outline: none;
    border: 1px solid black;
    margin-top: 15px;
}

.login-block input#username {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#username:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active,
.login-block input:focus {
    border: 1px solid red;
}

.login-block button {
    width: 75px;
    height: 75px;
    background: #58ea00;
    box-sizing: border-box;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.login-block button:before,
.login-block button:after {
    content: '';
    display: block;
    position: absolute;
    border: 50%;
    border: 1px solid #58ea00;
    left: -15px;
    bottom: -15px;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    animation: anim 1.5s linear infinite;
    opacity: 0;
    backface-visibility: hidden;
}
.login-block button:after{
    animation-delay: 0.5s;
}
@keyframes anim {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.login-block button:hover {
    background: #ff7b81;
}
.login-block button:hover:before,
.login-block button:hover:after{
    border: 1px solid #ff7b81;
}

#logInfo {
    font-size: 17px;
    font-weight: bold;
    color: black;
}

#logOut {
    font-size: 16px;
    font-weight: bold;
    color: #800000;
    cursor: pointer;
}

#logOut:hover {
    text-decoration: underline #800000;
}

#canvas-basic {
    position: fixed;
    display: block;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

h2 {
    color: black;
    text-shadow: 1px 1px 50px white;
}